/* utilities styles */

a {
  text-decoration: none;
  margin: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

p {
  font-weight: bold;
}

.p-date {
  font-size: 1.3rem;
  color: #333;
}

.p-article {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 3px 5px;
  line-height: 1.5rem;
  width: 98%;
  margin: 0px auto;
  text-align: center;
}

/* span {
  font-size: 2rem;
} */

.p-footer {
  color: white;
  border: 1px solid red;
  text-align: center;
}

.main-header__p {
  color: #333;
  font-size: 2rem;
}
